body {
  margin: 0;
  font-family: sans-serif;
  background: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center, .login-container, .door-container {
  text-align: center;
}

.login-container, .door-container {
  background: #1e1e1e;
  padding: 25px;
  width: 90%;
  max-width: 320px;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000050;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 95%;
  padding: 12px;
  background: #0099ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button.logout {
  background: #ff4444;
  margin-top: 15px;
}

#errorMsg {
  color: #ff4444;
  font-size: 14px;
  margin-top: 10px;
}
